<div class="nav">
  <div class="side-nav">
    <div class="logo">
      <img src="https://picsum.photos/200/100" alt="" />
    </div>
    <button class="nav-button">Home</button>
    <button class="nav-button">Cadastrar</button>
    <button class="nav-button">Dashboard</button>
    <button class="nav-button">Notificações</button>
    <button class="nav-button">Sobre</button>
    <button class="nav-button">Suporte</button>
  </div>
  <div class="content">
    <div class="top-bar"></div>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
