<div class="home">
  <div>
    <mat-card class="gauge">
      <mat-card-header>
        <mat-card-title class="title">Horas Trabalhadas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-number-card [view]="[400, 300]" [scheme]="colorScheme" [results]="hours" [cardColor]="cardColor">
        </ngx-charts-number-card>
      </mat-card-content>
    </mat-card>
    <mat-card class="gauge">
      <mat-card-header>
        <mat-card-title class="title">Bateria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-gauge [view]="[400, 300]" [results]="battery" [min]="0" [max]="100" [angleSpan]="360"
          [startAngle]="0" [scheme]="colorScheme" [units]="'%'" [showAxis]="false">
        </ngx-charts-gauge>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card">
    <mat-card-content>
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="man">
    <app-maintenance-card title="Manutenção Atrasada"></app-maintenance-card>
    <app-maintenance-card title="Manutenção Programada"></app-maintenance-card>
  </div>
</div>
<ngx-spinner [fullScreen] = "true"><mat-spinner></mat-spinner></ngx-spinner>