<mat-card class="card">
  <mat-card-content>
    <div class="col-md-12" id="titleDiv" style="display: flex">
      <div class="col-md-6 SmartRulesTitle">
        <p>List of SmartRules</p>
      </div>
      <div class="col-md-6 SmartRulesButton">
        <button
          mat-flat-button
          class="loadDevices"
          color="primary"
          (click)="loadMoreSubscriptions()"
          [disabled]="!isValidSRList"
        >
          Load More
        </button>
      </div>
    </div>
    <div id="table">
        <table mat-table [dataSource]="dataSource" class="table">
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Position Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="expires">
              <th mat-header-cell *matHeaderCellDef>Expired</th>
              <td mat-cell *matCellDef="let element">{{ element.expires }}</td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Options</th>
              <td mat-cell *matCellDef="let element">...</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              style="cursor: pointer"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
    </div>
  </mat-card-content>
</mat-card>
<ngx-spinner [fullScreen]="true">
  <mat-spinner></mat-spinner>
</ngx-spinner>
