<mat-card class="card">   
    <mat-card-content>
        <div class="col-md-12" id=titleDiv style="display: flex;">
            <div class="col-md-6 SmartRulesTitle">
                <p> List of SmartRules </p>
            </div>
            <div class="col-md-6 SmartRulesButton">
                <button mat-flat-button class="loadDevices" color="primary" (click)="loadMoreSubscriptions()" [disabled]="!isValidSRList"> Load More </button>
            </div>
        </div>
        <div id="table">
            <table width="100%" class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th id="tr_id">Description</th>
                        <th id="tr_nome">Status</th>
                        <th id="tr_tipo">Expired</th>
                        <th id="td_options">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let smartRule of smartRulesList, let i = index">                        
                        <td class="td_description">{{ smartRule.description }}</td>
                        <td class="td_status">{{ smartRule.status }}</td>
                        <td class="td_expired">{{ smartRule.expires ? smartRule.expires : '-'}}</td>
                        <td class="td_options">...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
<ngx-spinner [fullScreen]="true">
    <mat-spinner></mat-spinner>
</ngx-spinner>