.card {
    width: -webkit-fill-available;

    .form {
        display: flex;
        flex-direction: column;
    }
}

th, td.td_status, td.td_expired, td.td_options {
    text-align: center;    
}

#Columns {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    border: black 2px solid;
}
