.card-table {
    height: 712px;
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    width: 80%;
}
.add-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }